In [3]:
import pandas as pd

1. Cleaning Data

In [14]:
df_data_historica = pd.read_csv('fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_data_missing = pd.read_csv('fifa_worldcup_missing_data.csv')

1.1 Cleaning df_fixture

In [21]:
df_fixture['Home'] = df_fixture['Home'].str.strip()
df_fixture['Away'] = df_fixture['Away'].str.strip()

1.2 Cleaning df_missing_data and adding to df_hitorical_data

In [22]:
df_data_missing.dropna(inplace=True)

In [33]:
df_data_historical = pd.concat([df_data_historica, df_data_missing], ignore_index=True)
df_data_historical.drop_duplicates(inplace=True)
df_data_historical.sort_values('year', inplace=True)
df_data_historical

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

1.3 Cleaning df_hitorical_data

In [11]:
df_data_historical[df_data_historical['Home'].str.contains('Sweden')]

NameError: name 'df_data_historical' is not defined